* {
    outline: 0 !important;
}

ul {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
}   

.the_portal_disable {
    background-color: rgba(20, 25, 61, 0.26) !important;
    box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.5) !important;
    color: #7979798c !important;
}

.lamp_disable {
    background-color: rgba(225, 0, 0, 0.21) !important;
}

/* ============== Messages ============== */
.messages {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.messages li {
    list-style: none;
    color: #F5F0F6;
    padding: 8px 30px;
}

.messages .success {
    background-color: rgba(0, 225, 142, 0.100);
}

.messages .error {
    background-color: rgba(251, 39, 39, 0.100);
}


header {
    width: 100%;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}

header .user_name {
    color: #0D1130;
    margin: 0;
    margin-right: 15px;
    font-size: 16px;
    background-color: #00E18F;
    padding: 4px;
    font-family: 'Anton-regular', sans-serif;
}

header a {
    color: #F5F0F6;
    margin: 0;
    margin-right: 15px;
    font-size: 14px;
    background-color: #FB2A27;
    padding: 3px;
}

a:hover {
    text-decoration: none;
}



/* ========================= */
.inp_error {
    color: #0D1130;
    margin-bottom: 10px;
}

.inp_error li {
    list-style: none;
    margin-top: 8px;
}

.inp_error .fa {
    color: #ff6361;
    margin-right: 8px;
}

/* ============== Right panel ================== */
.right_panel {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0D1130;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.5);
}

.right_panel .logo {
    width: 100%;
    padding: 15px 0;
    background-color: #00E18F;
    text-align: center;
    font-family: 'Anton-regular', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
}


.right_panel .logo a {
    color: #0D1130;
    text-decoration: none; 
    position: relative;
}

.right_panel .logo a::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    position: absolute;
    right: -10px;
    top: 14px;
    background-color: #FB2A27;
}

.right_panel .add_portal {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #526187;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    border: none;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.right_panel .add_portal .fa {
    margin-top: 2px;
    padding: 0;
    color: #0D1130;
    font-size: 18px;
}

.right_panel .list_portals {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 0 6px;
}

.right_panel .list_portals p {
    width: 100%;
    text-align: center;
    color: #98989854;
    background-color: rgba(251, 39, 39, 0.100);
}

.right_panel .the_portal {
    width: 100%;
    height: 40px;
    background-color: rgb(20, 25, 61);
    color: #F5F0F6;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.3);
    margin-bottom: 8px;
    position: relative;
    cursor: pointer;
    transition: all .5s ease;
}

.right_panel .the_portal:hover {
    background-color: rgb(30, 37, 77);
}

.right_panel .the_portal a {
    position: absolute;
    left: 15px;
    padding: 7px;
    text-decoration: none;
    color: #D63932;
    transition: all .2s ease;
}

.right_panel .the_portal a:hover {
    background-color: #D63932;
    color: #0D1130;
}

.right_panel .the_portal a .fa {
    font-size: 18px;
}

.right_panel .the_portal span {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgba(0, 225, 142, 0.801);
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 16px;
    right: 15px;
    transition: all .5s ease;
}

/* Styles */
.main {
    width: 100%;
    height: 100vh;
    background-color: rgb(20, 25, 61);
    display: flex;
    align-items: center;
    position: relative;
}

.main_bg {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: #526187;
    opacity: 0.1;
    font-size: 162px;
    font-family: 'Anton-regular', sans-serif;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

.main_bg::before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    bottom: 30px;
    right: -30px;
    background-color: #FB2A27;
    border-radius: 100%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.form {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -15px auto 0;
    padding: 15px;
    background-color: #F5F0F6;
    position: relative;
}

/* .form::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -80px;
    border-style: solid;
    border-width: 80px 200px 0 0;
    border-color: #00E18F transparent transparent transparent;
} */

/* .form::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 0 0 150px 350px;
    border-color: transparent transparent #00E18F transparent;
} */

.form .form-group input {
    width: 100%;
    padding: 6px 8px;
    border: 1px solid #c2c1c1;
    background-color: transparent;
}

/* Style for input placeholder */
.form input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #0D1130;
}

.form input::-moz-placeholder {
    /* Firefox 19+ */
    color: #0D1130;
}

.form input:-ms-input-placeholder {
    /* IE 10+ */
    color: #0D1130;
}

.form input:-moz-placeholder {
    /* Firefox 18- */
    color: #0D1130;
}

.form .btn_submit {
    background-color: #FB2A27;
    border: none;
    align-self: center;
    padding: 15px;
    border-radius: 8px;
    color: #F5F0F6;
    cursor: pointer;
    margin-top: 15px;
    z-index: 1;
}

.disabled_btn {
    background-color: rgba(251, 42, 39, 0.15);
    text-decoration: line-through;
}

/* Inputs text */
.form .inputs_text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 1;
}

/*================== Model window for add new portal =========================*/
#myModal .modal-content {
    background-color: #F5F0F6;
}

#myModal .modal-content input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #0D1130;
    padding: 8px 15px;
    margin-bottom: 10px;
}

#select_portal {
    align-self: center;
    background-color: transparent;
    border: none;
}
.add_auth_new_portal {
    display: flex;
    flex-direction: column;
}
.add_auth_new_portal label {
    display: none;
}

.add_auth_new_portal .form-group {
    display: flex;
    justify-content: space-around;
}

.add_auth_new_portal .form-group .input-group {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.add_auth_new_portal .btn-primary {
    align-self: center;
}

/* ===================== Register style ===================== */
.register {
    width: 100%;
    height: 100vh;
    background-color: #00E18F;
    position: relative;
    overflow: hidden;
}

.register::before {
    content: '';
    display: block;
    width: 100%;
    height: 400px;
    position: absolute;
    left: -200px;
    bottom: -200px;
    background-color: #F5F0F6;
    transform: rotate(25deg);
    box-shadow: -2px -2px 30px rgba(0, 0, 0, 0.5);
}

.register h1 {
    color: #F5F0F6;
    margin-bottom: 30px;
    text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.3);
}

.register_box {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register_form {
    display: flex;
    flex-direction: column;
    background-color: #0D1130;
    padding: 40px 30px;
    box-shadow: 3px 3px 25px 2px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.register_form label {
    color: #F5F0F6;
    font-size: 12px;
    margin: 0;
}

.register_form .helptext {
    display: none;
}

.register_form input {
    width: 300px;
    padding: 8px 15px;
    background-color: transparent;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid rgb(134, 132, 134);
    color: #00E18F;
}

/*  ================ Style for textarea placeholder ================== */

.register_form input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgb(134, 132, 134);
    font-size: 14px;
}

.register_form input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgb(134, 132, 134);
    font-size: 14px;
}

.register_form input:-ms-input-placeholder {
    /* IE 10+ */
    color: rgb(134, 132, 134);
    font-size: 14px;
}

.register_form input:-moz-placeholder {
    /* Firefox 18- */
    color: rgb(134, 132, 134);
    font-size: 14px;
}

.register_form button {
    width: 200px;
    background-color: #D63932;
    border: none;
    border-radius: 15px;
    padding: 12px 10px;
    color: #F5F0F6;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    align-self: center;
}