{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <section class="main">
        <div class="container">
            <form action="/catch_data/" method="post" class="form">{% csrf_token %}
                <div class="left_part">
                    <input type="text" name="title" placeholder="Title">
                    <input type="text" name="url" placeholder="Url">
                    <textarea name="description" id="" cols="30" rows="10" placeholder="Description"></textarea>
                    <button type="submit">Send now</button>
                </div>
                <div class="right_part">
                    <div class="sel_portal">
                        <input id="hackernews" type="checkbox" name="hackernews" value="hackernews">
                        <label for="hackernews">
                            <img src="{% static 'hackernews.png' %}" width="80"  alt="">
                        </label>
                    </div>
                    <!-- <div class="sel_portal">
                        <input id="reddit" type="checkbox">
                        <label for="reddit">
                            <img src="{% static 'reddit.png' %}" width="80" alt="">
                        </label>
                    </div> -->
                </div>
            </form>
        </div>
    </section>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script> -->
    <!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->
</body>
</html>