{% extends 'base.html' %} {% load staticfiles %} {% block content %}
<div class="wrapper">

    {% if messages %}
    <ul class="messages" id="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
            </li>
            {% endfor %}
    </ul>
    {% endif %}

    <header>
        {% if user %}
        <h5 class="user_name">{{ user }}</h5>
        <a href="/account/logout/">Выйти</a>
        {% else %}
        <a href="/account/register/">Регистрация</a>
        <a href="/account/login/">Войти</a>
        {% endif %}
    </header>

    <!-- Right panel -->
    <aside class="right_panel">
        <div class="logo">
            <a href="/main">Spamer</a>
        </div>
        <!-- Button HTML (to Trigger Modal) -->
        <button class="add_portal" data-toggle="modal" href="#myModal" role="button">
            <i class="fa fa-plus"></i>
        </button>
        <div id="list_portals" class="list_portals">

            {% if portals %} {% for portal in portals %}
            <div class="the_portal selected_portal">
                <a class="delete-portal" href="/portal/delete/{{ portal.id }}/">
                    <i class="fa fa-trash-o"></i>
                </a>
                <div id="portal_name">{{ portal.name }}</div>
                <span></span>
            </div>
            {% endfor %} {% else %}
            <p>Добавьте порталы</p>
            {% endif %}

        </div>
    </aside>

    <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Пройдите аутентификацию!</p>
                </div>
                <form action="/portal/create/" method="POST" class="add_auth_new_portal">{% csrf_token %}

                    <div class="inp_error"></div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="portal_login" name="login" placeholder="Login">
                            <input type="text" class="portal_password" name="password" placeholder="Password">
                        </div>
                        {{ portal_form }}
                        <select name="portals" id="select_portal">
                            <option value="Hacker news" selected>Hacker news</option>
                            <option value="Golang news">Golang news</option>
                            <option value="Reddit">Reddit</option>
                            <option value="Habrahabr">Habrahabr</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary add_portal_btn">Add new portal</button>
                </form>
                <div class="modal-footer">
                    {% comment %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> {% endcomment %}
                </div>
            </div>
        </div>
    </div>

    <!-- Working zone -->
    <section class="main">
        <div class="container">
            <h1 class="main_bg">Spamer</h1>

            {% if portals %}
            <form action="/send_spam/" method="POST" class="form">{% csrf_token %}

                <div class="selected_portals">
                    <!-- Selected portals-->
                    {% if portals %} {% for portal in portals %}
                        <input type="text" value="{{ portal.name }}" name="selected_portal">
                    {% endfor %}    
                    {% endif %}
                </div>

                <div class="inputs_text">
                    <div class="form-group">
                        <!-- Input title -->
                        <ul class="inp_error">
                            {% if empty %}
                            <li>
                                <i class="fa fa-warning"></i> Это поле обязательное!
                            </li>
                            {% endif %} {% if length %}
                            <li>
                                <i class="fa fa-warning"></i> Заголовок должен быть более 5 и менее 50 символов!
                            </li>
                            {% endif %}
                        </ul>
                        <input type="text" id="inp_title" name="title" placeholder="Title" autocomplete="off">

                        <!-- Input url -->
                        <ul class="inp_error">
                            {% if empty %}
                            <li>
                                <i class="fa fa-warning"></i> Это поле обязательное!
                            </li>
                            {% endif %}
                        </ul>
                        <input type="text" id="inp_url" name="url" placeholder="Url" autocomplete="off">
                    </div>
                    <!-- Textarea -->
                    <textarea id="mytextarea"></textarea>
                </div>
                <!-- Button -->
                <button type="submit" class="btn_submit" id="btn_submit">Начать рассылку</button>
            </form>
            {% endif %}
        </div>
    </section>
</div>
{% endblock %}